

header {
 background: url(./img/header-img.png) no-repeat fixed 50% 50%;
 background-size: cover;
 height: 500px;
}
nav {
  width: 1000px;
  height: 150px;
  text-align:right;

  
}
.logo {
  
  width: 300px;
  height: 150px;
}
.logo1{
  height: 150px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.section-1 {
  background-color:whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.article-1 {
  height: 500px;
  width: 200px;
  background:url(./img/p-casque.jpg) ;
  background-size:cover;
  margin: 10px;
}
.article-2 {
  height: 500px;
  width: 200px;
  background: url(./img/product_brassard.jpg) ;
  background-size: cover;
  margin: 10px;
}
.article-3 {
  height: 500px;
  width: 200px;
  background:url(./img/produits/produit-montresp.png);
  background-size:cover;
  margin: 10px;
}
.article-4 {
  height: 500px;
  width: 200px;
  background: url(./img/sport\ enfant.jpg);
  background-size:cover;
  margin: 10px;
}
.article-5 {
  height: 500px;
  width: 200px;
  background: url(./img/produits/produit-montre.png);
  background-size:cover;
  margin: 10px;
}
.article-1:hover,.article-2:hover,.article-3:hover,.article-4:hover,.article-5:hover {
  -webkit-transform:scale(1.25); /* Safari et Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* Internet Explorer 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
  pointer-events: none;
}
#conteneur {
  background: url(./img/sav.jpg);
  background-size: cover;
  height:300px ;
  color: #fff;
}




footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  
}




/* ***********************************************slide****************************************** */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}
.container {
  margin: 0 auto;
  /* padding: 50px; */
  width: 100vw;
  margin-top: 50px;
  text-align: center;

}

.slider img {
  max-width: 100%;
  display: none;
}

img.active {
  display: block;
  animation: fade 0.8s;
  height:300px;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cont-btn {
  width: 100%;
  height: auto;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}
.btn-nav {
  font-size: 50px;
  margin: 0 15px;
  cursor: pointer;
}
